openapi: 3.0.3
info:
  title: Kiln Connect
  description:  This is Kiln Connect
  termsOfService: https://kiln.fi/
  contact:
    email: contact@kiln.fi
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.devnet.kiln.fi
  - url: https://api.testnet.kiln.fi
  - url: https://api.kiln.fi
tags:
  - name: ETH
    description: Staking facilities for the Ethereum protocol
paths:
  /v1/eth/stakes:
    get:
      tags:
        - ETH
      summary: Get Ethereum stakes
      description: Get the status of Ethereum stakes
      operationId: getEthereumStakes
      parameters:
      - $ref: '#/components/parameters/EthereumValidatorsParam'
      - $ref: '#/components/parameters/EthereumWalletsParam'
      - $ref: '#/components/parameters/KilnAccountsParam'
      responses:
        '200':

          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EthereumStake'
        '400':
          description: Invalid parameters
  /v1/eth/rewards:
    get:
      tags:
        - ETH
      summary: Get Ethereum rewards
      description: Get the rewards of Ethereum stakes
      operationId: getEthereumRewards
      parameters:
      - $ref: '#/components/parameters/EthereumValidatorsParam'
      - $ref: '#/components/parameters/EthereumWalletsParam'
      - $ref: '#/components/parameters/KilnAccountsParam'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EthereumReward'
        '400':
          description: Invalid status value
  /v1/eth/operations:
    get:
      tags:
        - ETH
      summary: Get Ethereum operations
      description: Get the operations of Ethereum stakes
      operationId: getEthereumOperations
      parameters:
      - $ref: '#/components/parameters/EthereumValidatorsParam'
      - $ref: '#/components/parameters/EthereumWalletsParam'
      - $ref: '#/components/parameters/KilnAccountsParam'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                      - $ref: '#/components/schemas/EthereumOperationDeposit'
                      - $ref: '#/components/schemas/EthereumOperationConsensusWithdrawal'
                      - $ref: '#/components/schemas/EthereumOperationExecutionReward'
                      discriminator:
                        propertyName: type

  /v1/eth/network-stats:
    get:
      tags:
        - ETH
      summary: Get Ethereum network stats
      description: Get the network statistics of Ethereum staking
      operationId: getEthereumNetworkStats
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EthereumNetworkStats'
        '400':
          description: Invalid status value
  /v1/eth/reports:
    get:
      tags:
        - ETH
      summary: Get Ethereum report
      description: Generates a report sheet for the stakes
      operationId: getEthereumReport
      parameters:
      - $ref: '#/components/parameters/EthereumValidatorsParam'
      - $ref: '#/components/parameters/EthereumWalletsParam'
      - $ref: '#/components/parameters/KilnAccountsParam'

      responses:
        '200':
          description: successful operation
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                example: ...
        '400':
          description: Invalid status value
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    EthereumValidatorsParam:
      name: validators
      in: query
      description: Comma-separated list of validators addresses
      required: false
      style: form
      explode: false
      example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412,0xb2091fcb455b83cb83513d765ef06bd9bc3e55b92eec416374f299c0a39d3387bf1b6bb8756ca003c6d1685eaa8aab96"
      schema:
        type: array
        items:
          type: string
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
    EthereumWalletsParam:
      name: wallets
      in: query
      description: Comma-separated list of wallets addresses
      required: false
      style: form
      explode: false
      example: "0xe1f4acc0affB36a805474e3b6ab786738C6900A2,0x41bF25fC8C52d292bD66D3BCEcd8a919ecB9EF88"
      schema:
        type: array
        items:
          type: string
          example: "0xe1f4acc0affB36a805474e3b6ab786738C6900A2"
    KilnAccountsParam:
      name: accounts
      in: query
      description: Comma-separated list of Kiln accounts identifiers
      required: false
      style: form
      explode: false
      example: "b7177fd2-fbb3-479f-aa92-db9fb16e229f,1ad625a7-6911-465c-b973-e788ea86c848"
      schema:
        type: array
        items:
          type: string
          example: "b7177fd2-fbb3-479f-aa92-db9fb16e229f"
          format: uuid
  schemas:
    EthereumOperationDeposit:
      type: object
      properties:
        type:
          type: string
          example: deposit
          description: type of the operation
        date:
          type: string
          format: date-time
          description: Date of the operation
          example: "2023-01-14T01:13:59Z"
        validator_address:
          type: string
          description: Validator address of the operation
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
        tx_hash:
          type: string
          description: Hash of the transaction
          example: "0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94"
        tx_gas_used:
          type: string
          description: Gas used by the transaction in WEI
          example: "2700999916653262"
        tx_sender:
          type: string
          description: Address of the sender of the transaction
          example: "0x41bf25fc8c52d292bd66d3bcecd8a919ecb9ef88"
        proxied_by:
          type: string
          nullable: true
          description: First address of the smart-contract called in the deposit chain
          example: "0x1e68238cE926DEC62b3FBC99AB06eB1D85CE0270"
        block:
          type: integer
          description: Block number containing the transaction
          example: 15955054
        withdrawal_credentials:
          type: string
          description: Withdrawal credentials of the deposit
          example: "010000000000000000000000e1f4acc0affb36a805474e3b6ab786738c6900a2"
        amount:
          type: string
          description: Amount in WEI of the deposit transaction
          example: "32000000000000000000000"
    EthereumOperationExecutionReward:
      type: object
      properties:
        type:
          type: string
          example: execution_reward
        date:
          type: string
          format: date-time
          description: Date of the operation
          example: "2023-01-14T01:13:59Z"
        validator_address:
          type: string
          description: Validator address of the operation
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
        block:
          type: integer
          description: Block number of the reward
          example: 15955054
        fee_recipient:
          type: string
          description: Fee recipient of the reward
          example: "0x1e68238cE926DEC62b3FBC99AB06eB1D85CE0270"
        mev_payout_tx_hash:
          type: string
          nullable: true
          description: Hash of the MEV payout transaction if appliable
          example: "0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94"
        mev_payout_tx_sender:
          type: string
          nullable: true
          description: Sender of the MEV payout transaction if appliable
          example: "0x1e68238cE926DEC62b3FBC99AB06eB1D85CE0270"
        amount:
          type: string
          description: Amount in WEI of the reward
          example: "3467036438000000000"
    EthereumOperationConsensusWithdrawal:
      type: object
      properties:
        type:
          type: string
          example: consensus_reward
        date:
          type: string
          format: date-time
          description: Date of the operation
          example: "2023-01-14T01:13:59Z"
        validator_address:
          type: string
          description: Validator address of the operation
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
        block:
          type: integer
          description: Block number of the reward
          example: 15955054
        fee_recipient:
          type: string
          description: Fee recipient of the reward
          example: "0x1e68238cE926DEC62b3FBC99AB06eB1D85CE0270"
        amount:
          type: string
          description: Amount in WEI of the reward
          example: "3467036438000000000"
    EthereumStake:
      type: object
      properties:
        validator_address:
          type: string
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
        state:
          type: string
          description: State of the Ethereum stake as seen be the consensus layer
          example: "active_ongoing"
          enum: ["unknown", "unstaked", "pending_initialized", "pending_queued", "active_ongoing", "active_exiting", "actived_slashed", "exited_unslashed", "exited_slashed", "withdrawal_possible", "withdrawal_done"]
        activated_at:
          type: string
          description: Date of activation on the Ethereum consensus layer
          nullable: true
          format: date-time
          example: "2023-01-14T01:13:59Z"
        activated_epoch:
          type: integer
          description: Epoch of activation on the Ethereum consensus layer
          nullable: true
          example: 174049
        delegated_block:
          description: Block at which the corresponding staking transaction was executed
          nullable: true
          type: integer
          example: 16397387
        deposit_tx_sender:
          type: string
          description: Address of the sender of the first deposit transaction
          nullable: true
          example: "0xe1f4acc0affB36a805474e3b6ab786738C6900A2"
        execution_fee_recipient:
          type: string
          description: Address of the last recipient of an execution reward
          nullable: true
          example: "0xe1f4acc0affB36a805474e3b6ab786738C6900A2"
        withdrawal_credentials:
          type: string
          description: Ethereum withdrawal credentials
          nullable: true
          example: "010000000000000000000000e1f4acc0affb36a805474e3b6ab786738c6900a2"
        effective_balance:
          type: string
          description: Effective balance in WEI of the stake as seen by the Ethereum consensus layer
          nullable: true
          example: "32000000000000000000"
        balance:
          type: string
          description: Current balance in WEI on the Ethereum consensus layer
          nullable: true
          example: "32076187808000000000"
        consensus_rewards:
          type: string
          description: Sum of consensus rewards in WEI earned by this stake
          nullable: true
          example: "76187808000000000"
        execution_rewards:
          type: string
          description: Sum of execution rewards in WEI earned by this stake
          nullable: true
          example: "0"
        rewards:
          type: string
          description: Sum of consensus and execution rewards in WEI earned by this stake
          nullable: true
          example: "76187808000000000"
        gross_apy:
          type: number
          description: Gross annual percentage yield
          nullable: true
          example: 3.407
    EthereumReward:
      type: object
      properties:
        time:
          type: string
          format: date
          description: Day for this reward entry
          example: "2023-01-15"
        consensus_rewards:
          type: string
          description: Accumulated consensus rewards WEI during the day
          example: "2988504000000000"
        execution_rewards:
          type: string
          description: Accumulated execution rewards in WEI during the day
          example: "0"
        rewards:
          type: string
          description: Accumulated consensus and execution rewards in WEI during the day
          example: "2988504000000000"
        stake_balance:
          type: string
          description: Staked balance in WEI that contributed to this rewards
          example: "64000000000000000000"
        gross_apy:
          type: number
          description: Gross annual percentage yield
          example: 3.407
        cl_apy:
          type: number
          description: Consensus annual percentage yield
          example: 3.407
        el_apy:
          type: number
          description: Execution annual percentage yield
          example: 0
    EthereumNetworkStats:
      type: object
      properties:
        network_gross_apy:
          type: number
          description: Gross annual percentage yield
          example: 4.5
        supply_staked_percent:
          type: number
          description: Supply of Ethereum currently staked
          example: 12.4
security:
  - bearerAuth: []  
