```python
import kiln_connect
import os

api_url = os.getenv('KILN_API_URL')
api_token = os.getenv('KILN_API_TOKEN')

with kiln_connect.KilnConnect(api_url, api_token) as kiln:
    {{#allParams}}
    {{paramName}} = {{{example}}} # {{{dataType}}} | {{{description}}}{{^required}} (optional){{/required}}{{#defaultValue}} (default to {{{.}}}){{/defaultValue}}
    {{/allParams}}
    response = kiln.{{tags.0.name}}.{{{operationId}}}({{#allParams}}{{#required}}{{paramName}}{{/required}}{{^required}}{{paramName}}={{paramName}}{{/required}}{{^-last}}, {{/-last}}{{/allParams}})
```
