openapi: 3.0.3
info:
  x-logo:
    url: logo-specs.png
  title: Kiln API Specifications
  description: |-
    This API provides reporting staking data on various protocols as well as network wide data, staking transaction crafting features and so on.
    In order to use it, you should first get an API token from your Kiln dashboard (applications section). If you don't have access to our dashboard, please get in touch at hello@kiln.fi.
    Once you have your API token, you can set it as a bearer token in your request headers.
    
    ### Backward Compatibility

    This is an experimental specification used for development and testing, do not rely on what is here unless you know the implications.

    The official Kiln API specification following backward compatible changes can be found [here](/).
  termsOfService: https://kiln.fi/
  contact:
    email: contact@kiln.fi
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.devnet.kiln.fi
  - url: https://api.testnet.kiln.fi
  - url: https://api.mainnet.kiln.fi
tags:
  - name: accounts
    x-displayName: ACCOUNTS
    description: Manage your Kiln accounts. Accounts are like folders in which you can organize your stakes or clients' stakes. An account can contain stakes on multiple protocols.
  - name: eth
    x-displayName: ETH
    description: Staking facilities for the Ethereum protocol
paths:
  /v1/eth/stakes:
    get:
      tags:
        - eth
      summary: Stakes
      description: Get the status of Ethereum stakes
      operationId: getEthStakes
      parameters:
        - $ref: '#/components/parameters/EthereumValidatorsParam'
        - $ref: '#/components/parameters/EthereumWalletsParam'
        - $ref: '#/components/parameters/KilnAccountsParam'
      responses:
        '200':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EthereumStake'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/eth/rewards:
    get:
      tags:
        - eth
      summary: Rewards
      description: Get historical rewards by day of Ethereum stakes
      operationId: getEthRewards
      parameters:
      - $ref: '#/components/parameters/EthereumValidatorsParam'
      - $ref: '#/components/parameters/EthereumWalletsParam'
      - $ref: '#/components/parameters/KilnAccountsParam'
      - $ref: '#/components/parameters/StartDateParam'
      - $ref: '#/components/parameters/EndDateParam'
      responses:
        '200':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EthereumReward'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/eth/operations:
    get:
      tags:
        - eth
      summary: Operations
      description: Get the operations of Ethereum stakes
      operationId: getEthOperations
      parameters:
      - $ref: '#/components/parameters/EthereumValidatorsParam'
      - $ref: '#/components/parameters/EthereumWalletsParam'
      - $ref: '#/components/parameters/KilnAccountsParam'
      responses:
        '200':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                      - $ref: '#/components/schemas/EthereumOperationDeposit'
                      - $ref: '#/components/schemas/EthereumOperationConsensusWithdrawal'
                      - $ref: '#/components/schemas/EthereumOperationExecutionReward'
                      discriminator:
                        propertyName: type
                        mapping:
                          deposit: '#/components/schemas/EthereumOperationDeposit'
                          consensus_reward: '#/components/schemas/EthereumOperationConsensusWithdrawal'
                          execution_reward: '#/components/schemas/EthereumOperationExecutionReward'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/eth/network-stats:
    get:
      tags:
        - eth
      summary: Network Stats
      description: Get some network statistics on Ethereum staking
      operationId: getEthNetworkStats
      responses:
        '200':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EthereumNetworkStats'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/eth/kiln-stats:
    get:
      tags:
        - eth
      summary: Kiln Stats
      description: Get some Kiln statistics on Ethereum staking
      operationId: getEthKilnStats
      responses:
        '200':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EthereumKilnStats'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/eth/keys:
    post:
      tags:
        - eth
      summary: Validation Keys
      description: Create Ethereum validation keys on Kiln's infrastructure.
      operationId: postEthKeys
      requestBody:
        description: Ethereum keys to generate
        required: true
        content:
          "application/json; charset=utf-8":
            schema:
              $ref: '#/components/schemas/EthereumPostKeysPayload'
      responses:
        '201':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/EthereumPostKeysCliResponse'
                      - $ref: '#/components/schemas/EthereumPostKeysBatchResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/eth/transaction/stake:
    post:
      tags:
        - eth
      summary: Stake Transaction
      description: Generates an Ethereum EIP 1559 stake transaction
      operationId: postEthStakeTx
      requestBody:
        description: Transaction to craft
        required: true
        content:
          "application/json; charset=utf-8":
            schema:
              $ref: '#/components/schemas/EthereumCraftStakeTxPayload'
      responses:
        '201':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EthereumUnsignedStakeTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/eth/transaction/prepare:
    post:
      tags:
        - eth
      summary: Prepare Transaction
      description: Prepare an Ethereum transaction for broadcasting. It takes a serialized transaction and its signatures and returns a serialized signed transaction that can be broadcasted.
      operationId: postEthPrepareTx
      requestBody:
        description: Transaction to prepare
        required: true
        content:
          "application/json; charset=utf-8":
            schema:
              $ref: '#/components/schemas/EthereumPrepareTxPayload'
      responses:
        '201':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EthereumSignedTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/eth/transaction/broadcast:
    post:
      tags:
        - eth
      summary: Broadcast Transaction
      description: Broadcasts a signed Ethereum transaction
      operationId: postEthBroadcastTx
      requestBody:
        description: Transaction to broadcast
        required: true
        content:
          "application/json; charset=utf-8":
            schema:
              $ref: '#/components/schemas/EthereumBroadcastTxPayload'
      responses:
        '201':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EthereumBroadcastTxResponse'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/eth/transaction/status:
    get:
      tags:
        - eth
      summary: Transaction Status
      description: Get the status of an Ethereum transaction
      operationId: getEthTxStatus
      parameters:
      - name: tx_hash
        in: query
        description: Hash of the transaction
        required: true
        style: form
        explode: false
        schema:
          type: string
          example: "0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94"
      responses:
        '200':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EthereumUnsignedStakeTx'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/eth/reports:
    get:
      tags:
        - eth
      summary: Excel Reports
      description: Generates an Excel report sheet for your stakes and rewards
      operationId: getEthReports
      parameters:
      - $ref: '#/components/parameters/EthereumValidatorsParam'
      - $ref: '#/components/parameters/EthereumWalletsParam'
      - $ref: '#/components/parameters/KilnAccountsParam'

      responses:
        '200':
          description: Successful operation
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                example: ...
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/accounts:
    get:
      tags:
        - accounts
      summary: Accounts
      description: Retrieve accounts in your organization
      operationId: getAccounts
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AccountsResponse'

        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    post:
      tags:
        - accounts
      summary: Accounts
      description: Create a new account in your organization
      operationId: postAccount
      requestBody:
        description: Account to create
        required: true
        content:
          "application/json; charset=utf-8":
            schema:
              $ref: '#/components/schemas/AccountPayload'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/accounts/{id}:
    get:
      tags:
        - accounts
      summary: Account
      description: Retrieve an account in your organization
      operationId: getAccount
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
    put:
      tags:
        - accounts
      summary: Account
      description: Update an account in your organization
      operationId: putAccount
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        description: Account to update
        required: true
        content:
          "application/json; charset=utf-8":
            schema:
              $ref: '#/components/schemas/AccountPayload'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
        '400':
          description: Invalid parameters
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
  /v1/accounts/{id}/portfolio:
    get:
      tags:
        - accounts
      summary: Account Portfolio
      description: Retrieve an account asset portfolio. USD balances are calculated based on recent asset prices. We use CoinGecko API to retrieve asset prices.
      operationId: getAccountPortfolio
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AccountPortfolio'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    EthereumValidatorsParam:
      name: validators
      in: query
      description: Comma-separated list of validators addresses
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
    EthereumWalletsParam:
      name: wallets
      in: query
      description: Comma-separated list of wallets addresses
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          example: "0xe1f4acc0affB36a805474e3b6ab786738C6900A2"
    KilnAccountsParam:
      name: accounts
      in: query
      description: Comma-separated list of Kiln accounts identifiers
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          example: "b7177fd2-fbb3-479f-aa92-db9fb16e229f"
          format: uuid
    StartDateParam:
      name: start_date
      in: query
      description: Get rewards from this date (YYYY-MM-DD)
      required: false
      schema:
        type: string
        format: date
        example: "2023-01-10"
    EndDateParam:
      name: end_date
      in: query
      description: Get rewards to this date (YYYY-MM-DD)
      required: false
      schema:
        type: string
        format: date
        example: "2023-01-20"
    AccountIdParam:
      name: id
      in: path
      description: Account id
      required: true
      schema:
        type: string
        format: uuid
        example: "92f5bfd4-ea38-4824-84f7-686eddff5539"

  schemas:
    EthereumOperationDeposit:
      type: object
      properties:
        type:
          type: string
          example: deposit
          description: type of the operation
        time:
          type: string
          format: date-time
          description: Time of the operation
          example: "2023-01-14T01:13:59Z"
        validator_address:
          type: string
          description: Validator address of the operation
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
        tx_hash:
          type: string
          description: Hash of the transaction
          example: "0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94"
        tx_sender:
          type: string
          description: Address of the sender of the transaction
          example: "0x41bf25fc8c52d292bd66d3bcecd8a919ecb9ef88"
        tx_gas_used:
          type: string
          description: Gas used by the transaction in WEI
          example: "2700999916653262"
        tx_effective_gas_price:
          type: string
          description: Effective gas price used for this TX in WEI
          example: "1499997889"
        proxies:
          type: array
          example: ["0x1e68238cE926DEC62b3FBC99AB06eB1D85CE0270", "0x43244f90814b31dec250de24df5bb023eB1D85CE"]
          description: Ordered list of smart-contracts in the calling chain
          items:
            type: string
            description: Address of the smart-contract called in the deposit chain
            example: "0x1e68238cE926DEC62b3FBC99AB06eB1D85CE0270"
        block:
          type: integer
          description: Block number containing the transaction
          example: 15955054
        block_base_fee:
          type: string
          description: Base fee used for this block in WEI
          example: "7"
        withdrawal_credentials:
          type: string
          description: Withdrawal credentials of the deposit
          example: "010000000000000000000000e1f4acc0affb36a805474e3b6ab786738c6900a2"
        amount:
          type: string
          description: Amount in WEI of the deposit transaction
          example: "32000000000000000000000"
    EthereumOperationExecutionReward:
      type: object
      properties:
        type:
          type: string
          example: execution_reward
        time:
          type: string
          format: date-time
          description: Time of the operation
          example: "2023-01-14T01:13:59Z"
        validator_address:
          type: string
          description: Validator address of the operation
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
        block:
          type: integer
          description: Block number of the reward
          example: 15955054
        fee_recipient:
          type: string
          description: Fee recipient of the reward
          example: "0x1e68238cE926DEC62b3FBC99AB06eB1D85CE0270"
        mev_payout_tx_hash:
          type: string
          nullable: true
          description: Hash of the MEV payout transaction if appliable
          example: "0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94"
        amount:
          type: string
          description: Amount in WEI of the reward
          example: "3467036438000000000"
    EthereumOperationConsensusWithdrawal:
      type: object
      properties:
        type:
          type: string
          example: consensus_reward
        time:
          type: string
          format: date-time
          description: Time of the operation
          example: "2023-01-14T01:13:59Z"
        validator_address:
          type: string
          description: Validator address of the operation
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
        block:
          type: integer
          description: Block number of the reward
          example: 15955054
        fee_recipient:
          type: string
          description: Fee recipient of the reward
          example: "0x1e68238cE926DEC62b3FBC99AB06eB1D85CE0270"
        amount:
          type: string
          description: Amount in WEI of the reward
          example: "3467036438000000000"
    EthereumStake:
      type: object
      properties:
        validator_address:
          type: string
          description: Public key of the validator
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
        state:
          type: string
          description: State of the Ethereum stake as seen be the consensus layer
          example: "active_ongoing"
          x-extensible-enum: ["unknown", "unstaked", "pending_initialized", "pending_queued", "active_ongoing", "active_exiting", "actived_slashed", "exited_unslashed", "exited_slashed", "withdrawal_possible", "withdrawal_done"]
        activated_at:
          type: string
          description: Date of activation on the Ethereum consensus layer
          nullable: true
          format: date-time
          example: "2023-01-14T01:13:59Z"
        activated_epoch:
          type: integer
          description: Epoch of activation on the Ethereum consensus layer
          nullable: true
          example: 174049
        delegated_block:
          description: Block at which the corresponding staking transaction was executed
          nullable: true
          type: integer
          example: 16397387
        deposit_tx_sender:
          type: string
          description: Address of the sender of the first deposit transaction
          nullable: true
          example: "0xe1f4acc0affB36a805474e3b6ab786738C6900A2"
        execution_fee_recipient:
          type: string
          description: Address of the last recipient of an execution reward
          nullable: true
          example: "0xe1f4acc0affB36a805474e3b6ab786738C6900A2"
        withdrawal_credentials:
          type: string
          description: Ethereum withdrawal credentials
          nullable: true
          example: "010000000000000000000000e1f4acc0affb36a805474e3b6ab786738c6900a2"
        effective_balance:
          type: string
          description: Effective balance in WEI of the stake as seen by the Ethereum consensus layer
          nullable: true
          example: "32000000000000000000"
        balance:
          type: string
          description: Current balance in WEI on the Ethereum consensus layer
          nullable: true
          example: "32076187808000000000"
        consensus_rewards:
          type: string
          description: Sum of consensus rewards in WEI earned by this stake
          nullable: true
          example: "76187808000000000"
        execution_rewards:
          type: string
          description: Sum of execution rewards in WEI earned by this stake
          nullable: true
          example: "0"
        rewards:
          type: string
          description: Sum of consensus and execution rewards in WEI earned by this stake
          nullable: true
          example: "76187808000000000"
        gross_apy:
          type: number
          description: Gross annual percentage yield
          nullable: true
          example: 3.407
        updated_at:
          type: string
          description: Last date this data was updated
          nullable: true
          format: date-time
          example: "2023-01-14T01:13:59Z"
    EthereumReward:
      type: object
      properties:
        date:
          type: string
          description: Day for this reward entry
          format: date
          example: "2023-01-15"
        consensus_rewards:
          type: string
          description: Accumulated consensus rewards WEI during the day
          example: "2988504000000000"
        execution_rewards:
          type: string
          description: Accumulated execution rewards in WEI during the day
          example: "0"
        rewards:
          type: string
          description: Accumulated consensus and execution rewards in WEI during the day
          example: "2988504000000000"
        stake_balance:
          type: string
          description: Staked balance in WEI that contributed to this rewards
          example: "64000000000000000000"
        gross_apy:
          type: number
          description: Gross annual percentage yield
          example: 3.407
        cl_apy:
          type: number
          description: Consensus annual percentage yield
          example: 3.407
        el_apy:
          type: number
          description: Execution annual percentage yield
          example: 0.0
    EthereumNetworkStats:
      type: object
      properties:
        network_gross_apy:
          type: number
          description: Gross annual percentage yield
          example: 4.5
        supply_staked_percent:
          type: number
          description: Supply of Ethereum currently staked
          example: 12.4
    EthereumKilnStats:
      type: object
      properties:
        gross_apy:
          type: object
          properties:
            last_1d:
              type: number
              description: Kiln's average APR from yesterday
            last_7d:
              type: number
              description: Kiln's average APR from the last 7 days
            last_30d:
              type: number
              description: Kiln's average APR from the last 30 days
    EthereumUnsignedStakeTx:
      type: object
      properties:
        unsigned_tx_hash:
          type: string
          description: Hash of the unsigned transaction
          example: "0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94"
        unsigned_tx_serialized:
          type: string
          description: Unsigned serialized transaction
          example: "0x20a40259b763d549dfa1c082776a036dd8dabbe8b5e32ee721be017512dc"
    EthereumSignedTx:
      type: object
      properties:
        signed_tx_serialized:
          type: string
          description: Signed serialized transaction
          example: "0x20a40259b763d549dfa1c082776a036dd8dabbe8b5e32ee721be017512dc"
    EthereumBroadcastTxPayload:
      type: object
      required:
        - tx_serialized
      properties:
        tx_serialized:
          type: string
          description: Signed serialized transaction
          example: "0x20a40259b763d549dfa1c082776a036dd8dabbe8b5e32ee721be017512dc"
    EthereumBroadcastTxResponse:
      type: object
      properties:
        tx_hash:
          type: string
          description: Hash of the transaction
          example: "0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94"
    EthereumPostKeysPayload:
      type: object
      required:
        - account_id
        - withdrawal_address
        - number
      properties:
        account_id:
          type: string
          example: "b7177fd2-fbb3-479f-aa92-db9fb16e229f"
          format: uuid
          description: Kiln Account ID to stake into
        withdrawal_address:
          type: string
          example: "0xe1f4acc0affB36a805474e3b6ab786738C6900A2"
          description: Ethereum withdrawal address used for the withdrawals credentials of the validators. BLS format is not supported.
        number:
          type: number
          minimum: 1
          maximum: 150
          example: 1
          description: Number of validator keys to generate. You can generate up to 150 keys at once.
        format:
          type: string
          default: "batch_deposit"
          x-extensible-enum: ["cli_deposit", "batch_deposit"]
          example: "cli_deposit"
          description: Response format. Use "cli_deposit" for more information about each key.
    EthereumPostKeysCliResponse:
      type: array
      items:
        type: object
        properties:
          format:
            type: string
            example: cli_deposit
            description: Format of the key
          pubkey:
            type: string
            example: "8f36e2f4e921b1ed5ce9c94f21e1f26a748ac4e0c57f0d8973e7d576a2f8953b87dd86300de718238de23b1fecb19db5"
            description: Public key of the validator
          withdrawal_credentials:
            type: string
            example: "010000000000000000000000e1f4acc0affb36a805474e3b6ab786738c6900a2"
            description: Withdrawals credentials of the validator
          amount:
            type: number
            example: 32000000000
            description: Amount in GWEI that needs to be deposited to activate the validator
          signature:
            type: string
            example: "b7947eabf631d4772c4014a9fec2ecac2c15fc5175ad83023bbdfc9e6618cb8e78829231477c060bc9339482058ff195141f2aeb801c0329a1a4afebd7e76ce0ba1d9d88f8820d052836a79d59aea673db9eb5009db4a4f6e04fb7ffbdbdd604"
            description: BLS signature for the deposit data structure required to stake on the Ethereum chain
          deposit_message_root:
            type: string
            example: "65db6ae73c6465311a7acf2cd8a2863eececf09901872550639f0d8f6c1876f5"
            description: Root hash ensuring the deposit message integrity
          deposit_data_root:
            type: string
            example: "9b74cccf3a3c501374179be4bb6f505c4b40da41c205a101db3342a8df0af2dd"
            description: Root hash ensuring the deposit data integrity
          fork_version:
            type: string
            example: "00000000"
            description: Identifier for the fork version
          network_name:
            type: string
            example: "mainnet"
            description: Ethereum network for the generated validation key(s)
          deposit_cli_version:
            type: string
            example: "2.2.0"
            description: Version of the deposit-cli tool used to generate the validation key
    EthereumPostKeysBatchResponse:
      type: object
      properties:
        format:
          type: string
          example: batch_deposit
          description: Format of the key
        pubkeys:
          type: array
          example: [ "8f36e2f4e921b1ed5ce9c94f21e1f26a748ac4e0c57f0d8973e7d576a2f8953b87dd86300de718238de23b1fecb19db5" ]
          description: Public keys of the validators
          items:
            type: string
            example: "8f36e2f4e921b1ed5ce9c94f21e1f26a748ac4e0c57f0d8973e7d576a2f8953b87dd86300de718238de23b1fecb19db5"
            description: Public key of a validator
        withdrawal_credentials:
          type: array
          example: [ "010000000000000000000000e1f4acc0affb36a805474e3b6ab786738c6900a2" ]
          description: Withdrawals credentials of the validators
          items:
            type: string
            example: "010000000000000000000000e1f4acc0affb36a805474e3b6ab786738c6900a2"
            description: Withdrawals credentials of a validator
        signatures:
          type: array
          example: [ "b7947eabf631d4772c4014a9fec2ecac2c15fc5175ad83023bbdfc9e6618cb8e78829231477c060bc9339482058ff195141f2aeb801c0329a1a4afebd7e76ce0ba1d9d88f8820d052836a79d59aea673db9eb5009db4a4f6e04fb7ffbdbdd604" ]
          description: BLS signatures for the deposit data structure required to stake on the Ethereum chain
          items:
            type: string
            example: "b7947eabf631d4772c4014a9fec2ecac2c15fc5175ad83023bbdfc9e6618cb8e78829231477c060bc9339482058ff195141f2aeb801c0329a1a4afebd7e76ce0ba1d9d88f8820d052836a79d59aea673db9eb5009db4a4f6e04fb7ffbdbdd604"
            description: BLS signature for the deposit data structure required to stake on the Ethereum chain
        deposit_data_roots:
          type: array
          example: [ "37e329240dd23a4bcd86cd62b97fdf0873b565876f29678e1edbf5514fe344d6" ]
          description: Root hashes ensuring the deposit data integrity
          items:
            type: string
            example: "37e329240dd23a4bcd86cd62b97fdf0873b565876f29678e1edbf5514fe344d6"
            description: Root hashes ensuring the deposit data integrity
    EthereumCraftStakeTxPayload:
      type: object
      required:
        - account_id
        - wallet
        - amount_wei
      properties:
        account_id:
          type: string
          example: "b7177fd2-fbb3-479f-aa92-db9fb16e229f"
          format: uuid
          description: Kiln Account ID to stake into
        wallet:
          type: string
          example: "0xe1f4acc0affB36a805474e3b6ab786738C6900A2"
          description: Wallet to stake from and be used as a withdrawal credentials in the deposit. Losing access to this wallet will result in losing the stake.
        amount_wei:
          type: string
          example: "32000000000000000000"
          description: Amount to stake in WEI (must be a multiple of "32000000000000000000")
    EthereumPrepareTxPayload:
      type: object
      required:
        - unsigned_tx_serialized
        - r
        - s
        - v
      properties:
        unsigned_tx_serialized:
          type: string
          description: Unsigned serialized transaction
          example: "0x20a40259b763d549dfa1c082776a036dd8dabbe8b5e32ee721be017512dc"
        r:
          type: string
          description: r part of the ECDSA signature in hex
          example: "de28e9efee4c8de422a3c64bfaaee11a32f7cf12bdd3f00dcce41a79fe776c65"
        s:
          type: string
          description: s part of the ECDSA signature in hex
          example: "3f233eb69495fa4741ad28ef0ba40612bacaf08331fd76041c371f5a2ecc2ab5"
        v:
          type: number
          description: v part of the ECDSA signature (0 or 1)
          example: 0
    AccountsResponse:
      type: array
      items:
        $ref: '#/components/schemas/Account'
    Account:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: Date at which the account was created
          example: "2023-02-06T21:48:11.038Z"
        id:
          type: string
          format: uuid
          description: Account id
          example: "92f5bfd4-ea38-4824-84f7-686eddff5539"
        name:
          type: string
          description: Account name
          example: "account name"
        description:
          type: string
          description: Account description
          example: "account description"
    AccountPortfolio:
      type: object
      properties:
        total_balance_usd:
          type: number
          format: float
          description: Total USD balance of all the account's stakes
          example: 182981229.16751668
        total_rewards_usd:
          type: number
          format: float
          description: Total USD of rewards earned from all the account's stakes
          example: 4526.16751668
        total_stakes:
          type: integer
          description: Total number of stakes
          example: 56
        total_active_stakes:
          type: integer
          description: Total number of stakes actively collecting rewards
          example: 52
        protocols:
          type: array
          description: List of protocols staked within the account
          items:
            type: object
            properties:
              token:
                type: string
                x-extensible-enum: ["ada", "eth", "near", "sol", "xtz"]
                description: Token name
                example: "eth"
              name:
                type: string
                x-extensible-enum: [ "Cardano", "Ethereum", "Near", "Solana", "Tezos" ]
                description: Protocol name
                example: Ethereum
              total_stakes:
                type: integer
                description: Total number of stakes for this protocol
                example: 12
              total_active_stakes:
                type: integer
                description: Total number of stakes actively collecting rewards for this protocol
                example: 10
              total_balance:
                type: object
                properties:
                  amount_usd:
                    type: number
                    format: float
                    description: Total USD balance of stakes for this protocol
                    example: 10896.4568
                  amount:
                    type: number
                    format: float
                    description: Total balance of stakes in the native protocol token for this protocol
                    example: 1896.4563
              total_rewards:
                type: object
                properties:
                  amount_usd:
                    type: number
                    format: float
                    description: Total USD of rewards earned for this protocol
                    example: 10896.4568
                  amount:
                    type: number
                    format: float
                    description: Total rewards earned in the native protocol token for this protocol
                    example: 1896.4568
              balance_share_percent:
                type: number
                format: float
                description: Protocol share of the total balance
                example: 42.59
                maximum: 100
                minimum: 0
              rewards_share_percent:
                type: number
                format: float
                description: Protocol share of the total rewards earned
                example: 42.59
                maximum: 100
                minimum: 0
    AccountPayload:
      type: object
      required:
        - name
        - description
      properties:
        name:
          type: string
          description: Account name
          example: "name"
          maxLength: 100
          minLength: 1
        description:
          type: string
          description: Account description
          example: "description"
          maxLength: 500
          minLength: 0
security:
  - bearerAuth: []

