openapi: 3.0.3
info:
  x-logo:
    url: logo-specs.png
  title: Kiln API Specifications
  description: |-
    This API provides reporting staking data on various protocols as well as network wide data, staking transaction crafting features and so on.
    
    In order to use it, you should first get an API token from your Kiln dashboard (applications section). If you don't have access to our dashboard, please get in touch at hello@kiln.fi.
    
    Once you have your API token, you can set it as a bearer token in your request headers.
  termsOfService: https://kiln.fi/
  contact:
    email: contact@kiln.fi
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.devnet.kiln.fi
  - url: https://api.testnet.kiln.fi
  - url: https://api.mainnet.kiln.fi
tags:
  - name: eth
    description: Staking facilities for the Ethereum protocol
paths:
  /v1/eth/stakes:
    get:
      tags:
        - eth
      summary: Stakes
      description: Get the status of Ethereum stakes
      operationId: getEthStakes
      parameters:
      - $ref: '#/components/parameters/EthereumValidatorsParam'
      - $ref: '#/components/parameters/EthereumWalletsParam'
      - $ref: '#/components/parameters/KilnAccountsParam'
      responses:
        '200':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EthereumStake'
        '400':
          description: Invalid parameters
        '500':
          description: Internal server error
  /v1/eth/rewards:
    get:
      tags:
        - eth
      summary: Rewards
      description: Get historical rewards by day of Ethereum stakes
      operationId: getEthRewards
      parameters:
      - $ref: '#/components/parameters/EthereumValidatorsParam'
      - $ref: '#/components/parameters/EthereumWalletsParam'
      - $ref: '#/components/parameters/KilnAccountsParam'
      - $ref: '#/components/parameters/StartDateParam'
      - $ref: '#/components/parameters/EndDateParam'
      responses:
        '200':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EthereumReward'
        '400':
          description: Invalid parameters
        '500':
          description: Internal server error
  /v1/eth/operations:
    get:
      tags:
        - eth
      summary: Operations
      description: Get the operations of Ethereum stakes
      operationId: getEthOperations
      parameters:
      - $ref: '#/components/parameters/EthereumValidatorsParam'
      - $ref: '#/components/parameters/EthereumWalletsParam'
      - $ref: '#/components/parameters/KilnAccountsParam'
      responses:
        '200':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                      - $ref: '#/components/schemas/EthereumOperationDeposit'
                      - $ref: '#/components/schemas/EthereumOperationConsensusWithdrawal'
                      - $ref: '#/components/schemas/EthereumOperationExecutionReward'
                      discriminator:
                        propertyName: type
        '400':
          description: Invalid parameters
        '500':
          description: Internal server error

  /v1/eth/network-stats:
    get:
      tags:
        - eth
      summary: Network stats
      description: Get some network statistics on Ethereum staking
      operationId: getEthNetworkStats
      responses:
        '200':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EthereumNetworkStats'
        '500':
          description: Internal server error
  /v1/eth/kiln-stats:
    get:
      tags:
        - eth
      summary: Kiln stats
      description: Get some Kiln statistics on Ethereum staking
      operationId: getEthKilnStats
      responses:
        '200':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EthereumKilnStats'
        '500':
          description: Internal server error
  /v1/eth/transaction/stake:
    post:
      tags:
        - eth
      summary: Craft stake transaction
      description: Generates an Ethereum EIP 1559 stake transaction
      operationId: postEthStakeTransaction
      requestBody:
        description: Transaction to craft
        required: true
        content:
          "application/json; charset=utf-8":
            schema:
              $ref: '#/components/schemas/EthereumCraftStakeTxPayload'
      responses:
        '201':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EthereumUnsignedStakeTx'
        '400':
          description: Invalid parameters
        '500':
          description: Internal server error
  /v1/eth/transaction/prepare:
    post:
      tags:
        - eth
      summary: Prepare transaction
      description: Prepare an Ethereum transaction for broadcasting. It takes a serialized transaction and its signatures and returns a serialized signed transaction that can be broadcasted.
      requestBody:
        description: Transaction to prepare
        required: true
        content:
          "application/json; charset=utf-8":
            schema:
              $ref: '#/components/schemas/EthereumPrepareTxPayload'
      responses:
        '201':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EthereumSignedTx'
        '400':
          description: Invalid parameters
        '500':
          description: Internal server error
  /v1/eth/transaction/broadcast:
    post:
      tags:
        - eth
      summary: Broadcast transaction
      description: Broadcasts a signed Ethereum transaction
      operationId: postEthTransactionBroadcast
      requestBody:
        description: Transaction to broadcast
        required: true
        content:
          "application/json; charset=utf-8":
            schema:
              $ref: '#/components/schemas/EthereumBroadcastTxPayload'
      responses:
        '201':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EthereumBroadcastTxResponse'
        '400':
          description: Invalid parameters
        '500':
          description: Internal server error
  /v1/eth/transaction/status:
    get:
      tags:
        - eth
      summary: Transaction status
      description: Get the status of an Ethereum transaction
      operationId: getEthStakeTransactionStatus
      parameters:
      - name: tx_hash
        in: query
        description: Hash of the transaction
        required: true
        style: form
        explode: false
        schema:
          type: string
          example: "0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94"
      responses:
        '200':
          description: Successful operation
          content:
            "application/json; charset=utf-8":
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EthereumUnsignedStakeTx'
        '400':
          description: Invalid parameters
        '500':
          description: Internal server error
  /v1/eth/reports:
    get:
      tags:
        - eth
      summary: Excel reports
      description: Generates an Excel report sheet for your stakes and rewards
      operationId: getEthReport
      parameters:
      - $ref: '#/components/parameters/EthereumValidatorsParam'
      - $ref: '#/components/parameters/EthereumWalletsParam'
      - $ref: '#/components/parameters/KilnAccountsParam'

      responses:
        '200':
          description: Successful operation
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                example: ...
        '400':
          description: Invalid parameters
        '500':
          description: Internal server error
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    EthereumValidatorsParam:
      name: validators
      in: query
      description: Comma-separated list of validators addresses
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
    EthereumWalletsParam:
      name: wallets
      in: query
      description: Comma-separated list of wallets addresses
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          example: "0xe1f4acc0affB36a805474e3b6ab786738C6900A2"
    KilnAccountsParam:
      name: accounts
      in: query
      description: Comma-separated list of Kiln accounts identifiers
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          example: "b7177fd2-fbb3-479f-aa92-db9fb16e229f"
          format: uuid
    StartDateParam:
      name: start_date
      in: query
      description: Get rewards from this date (YYYY-MM-DD)
      required: false
      schema:
        type: string
        format: date
        example: "2023-01-10"
    EndDateParam:
      name: end_date
      in: query
      description: Get rewards to this date (YYYY-MM-DD)
      required: false
      schema:
        type: string
        format: date
        example: "2023-01-20"
  schemas:
    EthereumOperationDeposit:
      type: object
      properties:
        type:
          type: string
          example: deposit
          description: type of the operation
        date:
          type: string
          format: date-time
          description: Date of the operation
          example: "2023-01-14T01:13:59Z"
        validator_address:
          type: string
          description: Validator address of the operation
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
        tx_hash:
          type: string
          description: Hash of the transaction
          example: "0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94"
        tx_gas_used:
          type: string
          description: Gas used by the transaction in WEI
          example: "2700999916653262"
        tx_sender:
          type: string
          description: Address of the sender of the transaction
          example: "0x41bf25fc8c52d292bd66d3bcecd8a919ecb9ef88"
        proxied_by:
          type: string
          nullable: true
          description: First address of the smart-contract called in the deposit chain
          example: "0x1e68238cE926DEC62b3FBC99AB06eB1D85CE0270"
        block:
          type: integer
          description: Block number containing the transaction
          example: 15955054
        withdrawal_credentials:
          type: string
          description: Withdrawal credentials of the deposit
          example: "010000000000000000000000e1f4acc0affb36a805474e3b6ab786738c6900a2"
        amount:
          type: string
          description: Amount in WEI of the deposit transaction
          example: "32000000000000000000000"
    EthereumOperationExecutionReward:
      type: object
      properties:
        type:
          type: string
          example: execution_reward
        date:
          type: string
          format: date-time
          description: Date of the operation
          example: "2023-01-14T01:13:59Z"
        validator_address:
          type: string
          description: Validator address of the operation
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
        block:
          type: integer
          description: Block number of the reward
          example: 15955054
        fee_recipient:
          type: string
          description: Fee recipient of the reward
          example: "0x1e68238cE926DEC62b3FBC99AB06eB1D85CE0270"
        mev_payout_tx_hash:
          type: string
          nullable: true
          description: Hash of the MEV payout transaction if appliable
          example: "0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94"
        mev_payout_tx_sender:
          type: string
          nullable: true
          description: Sender of the MEV payout transaction if appliable
          example: "0x1e68238cE926DEC62b3FBC99AB06eB1D85CE0270"
        amount:
          type: string
          description: Amount in WEI of the reward
          example: "3467036438000000000"
    EthereumOperationConsensusWithdrawal:
      type: object
      properties:
        type:
          type: string
          example: consensus_reward
        date:
          type: string
          format: date-time
          description: Date of the operation
          example: "2023-01-14T01:13:59Z"
        validator_address:
          type: string
          description: Validator address of the operation
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
        block:
          type: integer
          description: Block number of the reward
          example: 15955054
        fee_recipient:
          type: string
          description: Fee recipient of the reward
          example: "0x1e68238cE926DEC62b3FBC99AB06eB1D85CE0270"
        amount:
          type: string
          description: Amount in WEI of the reward
          example: "3467036438000000000"
    EthereumStake:
      type: object
      properties:
        validator_address:
          type: string
          example: "0x95373bcf8e2c64e1c373a6e534c002f210adbcc84c5abda3b6306677e171430ae50781a51c9f579a47622e334dba2412"
        state:
          type: string
          description: State of the Ethereum stake as seen be the consensus layer
          example: "active_ongoing"
          x-extensible-enum: ["unknown", "unstaked", "pending_initialized", "pending_queued", "active_ongoing", "active_exiting", "actived_slashed", "exited_unslashed", "exited_slashed", "withdrawal_possible", "withdrawal_done"]
        activated_at:
          type: string
          description: Date of activation on the Ethereum consensus layer
          nullable: true
          format: date-time
          example: "2023-01-14T01:13:59Z"
        activated_epoch:
          type: integer
          description: Epoch of activation on the Ethereum consensus layer
          nullable: true
          example: 174049
        delegated_block:
          description: Block at which the corresponding staking transaction was executed
          nullable: true
          type: integer
          example: 16397387
        deposit_tx_sender:
          type: string
          description: Address of the sender of the first deposit transaction
          nullable: true
          example: "0xe1f4acc0affB36a805474e3b6ab786738C6900A2"
        execution_fee_recipient:
          type: string
          description: Address of the last recipient of an execution reward
          nullable: true
          example: "0xe1f4acc0affB36a805474e3b6ab786738C6900A2"
        withdrawal_credentials:
          type: string
          description: Ethereum withdrawal credentials
          nullable: true
          example: "010000000000000000000000e1f4acc0affb36a805474e3b6ab786738c6900a2"
        effective_balance:
          type: string
          description: Effective balance in WEI of the stake as seen by the Ethereum consensus layer
          nullable: true
          example: "32000000000000000000"
        balance:
          type: string
          description: Current balance in WEI on the Ethereum consensus layer
          nullable: true
          example: "32076187808000000000"
        consensus_rewards:
          type: string
          description: Sum of consensus rewards in WEI earned by this stake
          nullable: true
          example: "76187808000000000"
        execution_rewards:
          type: string
          description: Sum of execution rewards in WEI earned by this stake
          nullable: true
          example: "0"
        rewards:
          type: string
          description: Sum of consensus and execution rewards in WEI earned by this stake
          nullable: true
          example: "76187808000000000"
        gross_apy:
          type: number
          description: Gross annual percentage yield
          nullable: true
          example: 3.407
        updated_at:
          type: string
          description: Last date this data was updated
          nullable: true
          format: date-time
          example: "2023-01-14T01:13:59Z"
    EthereumReward:
      type: object
      properties:
        date:
          type: string
          description: Day for this reward entry
          example: "2023-01-15"
        consensus_rewards:
          type: string
          description: Accumulated consensus rewards WEI during the day
          example: "2988504000000000"
        execution_rewards:
          type: string
          description: Accumulated execution rewards in WEI during the day
          example: "0"
        rewards:
          type: string
          description: Accumulated consensus and execution rewards in WEI during the day
          example: "2988504000000000"
        stake_balance:
          type: string
          description: Staked balance in WEI that contributed to this rewards
          example: "64000000000000000000"
        gross_apy:
          type: number
          description: Gross annual percentage yield
          example: 3.407
        cl_apy:
          type: number
          description: Consensus annual percentage yield
          example: 3.407
        el_apy:
          type: number
          description: Execution annual percentage yield
          example: 0.0
    EthereumNetworkStats:
      type: object
      properties:
        network_gross_apy:
          type: number
          description: Gross annual percentage yield
          example: 4.5
        supply_staked_percent:
          type: number
          description: Supply of Ethereum currently staked
          example: 12.4
    EthereumKilnStats:
      type: object
      properties:
        gross_apy:
          type: object
          properties:
            last_1d:
              type: number
              description: Kiln's average APR from yesterday
            last_7d:
              type: number
              description: Kiln's average APR from the last 7 days
            last_30d:
              type: number
              description: Kiln's average APR from the last 30 days
    EthereumUnsignedStakeTx:
      type: object
      properties:
        unsigned_tx_hash:
          type: string
          description: Hash of the unsigned transaction
          example: "0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94"
        unsigned_tx_serialized:
          type: string
          description: Unsigned serialized transaction
          example: "0x20a40259b763d549dfa1c082776a036dd8dabbe8b5e32ee721be017512dc"
    EthereumSignedTx:
      type: object
      properties:
        signed_tx_serialized:
          type: string
          description: Signed serialized transaction
          example: "0x20a40259b763d549dfa1c082776a036dd8dabbe8b5e32ee721be017512dc"
    EthereumBroadcastTxPayload:
      type: object
      properties:
        tx_serialized:
          type: string
          description: Signed serialized transaction
          example: "0x20a40259b763d549dfa1c082776a036dd8dabbe8b5e32ee721be017512dc"
    EthereumBroadcastTxResponse:
      type: object
      properties:
        tx_hash:
          type: string
          description: Hash of the transaction once broadcasted
          example: "0x43244f90814b31dec250de24df5bb023a338790c1d5a39244cf1064cf6d98c94"
    EthereumCraftStakeTxPayload:
      type: object
      properties:
        account_id:
          type: string
          example: "b7177fd2-fbb3-479f-aa92-db9fb16e229f"
          format: uuid
          description: Kiln Account ID to stake into
        wallet:
          type: string
          example: "0xe1f4acc0affB36a805474e3b6ab786738C6900A2"
          description: Wallet to stake from and be used as a withdrawal credentials in the deposit. Losing access to this wallet will result in losing the stake.
        amount_wei:
          type: string
          example: "32000000000000000000"
          description: Amount to stake in WEI (must be a multiple of "32000000000000000000")
    EthereumPrepareTxPayload:
      type: object
      properties:
        unsigned_tx_serialized:
          type: string
          description: Unsigned serialized transaction
          example: "0x20a40259b763d549dfa1c082776a036dd8dabbe8b5e32ee721be017512dc"
        r:
          type: string
          description: r part of the ECDSA signature in hex
          example: "de28e9efee4c8de422a3c64bfaaee11a32f7cf12bdd3f00dcce41a79fe776c65"
        s:
          type: string
          description: s part of the ECDSA signature in hex
          example: "3f233eb69495fa4741ad28ef0ba40612bacaf08331fd76041c371f5a2ecc2ab5"
        v:
          type: number
          description: v part of the ECDSA signature (0 or 1)
          example: 0
security:
  - bearerAuth: []

